.dashboardImg {
    background: url('./images/Dashboard_admin.png');
}

a.active {
    color: #2281ec;
}


.loginLogoHeader {
    background: url('./images/administrationLogoHeader.png') no-repeat center !important;
}

.loginLogoFooter {
    background: url('./images/administrationLogoFooter.png') no-repeat center !important;
}

.homeIcon {
    width: 20px;
    height: 20px;
    background: url('./images/home.png') no-repeat center !important;
}

.homeIcon:hover {
    background: url('./images/home_hover.png') no-repeat center !important;
}
